@import './variables';

:root {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-family: 'Gilroy-Regular';
  background-color: $main-color;
  color: $text-color;
}